{% extends 'base.html' %}

{% block content %}
    <form action="{{ url_for('main.login') }}" method="post" class="data-entry-form">
        <div class="input-group">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required autocomplete="username">
        </div>
        <div class="input-group">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required autocomplete="current-password">
        </div>
        <div class="input-group">
            <button type="submit">Login</button>
        </div>
    </form>
    
{% endblock %}
